# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.o
*.dSYM
*.gcno
*.gcda
*.gcov

# Distribution / packaging
.eggs/
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.dist-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# viewdoc output
.long-description.html

# Vim cruft
.*.swp

#emacs
*~
\#*#
.#*

#VS Code
.vscode

#Komodo
*.komodoproject

#OS
.DS_Store

# JetBrains
.idea
